.grid-container {
    
    @if $responsive-mode == 'fluid' {
        
        //margin: 0 auto;
        margin-left: 18px;
        margin-top: 18px;
        max-width: $width-grid;
        position: relative;
        width: 100%;
        
    } @else if $responsive-mode == 'fluid-fixed' {
        
        //margin: 0 auto;
        margin-left: 18px;
        margin-top: 18px;
        max-width: $width-grid;
        position: relative;
        
        @include breakpoint(desktop) {
            max-width: $tablet-landscape;
        }
        
        @include breakpoint(tablet-landscape) {
            max-width: $tablet;
        }
        
        @include breakpoint(tablet) {
            max-width: $phablet;
        }
        
        @include breakpoint(phablet) {
            max-width: $phone;
        }
        
        @include breakpoint(phone) {
            max-width: 100%;
        }
        
    } @else if $responsive-mode == 'fixed' {
        //margin: 0 auto;
        margin-left: 18px;
        margin-top: 18px;
        width: 100%;
        max-width: $width-grid;
    }
}

.row {
    
    &--margin {
        margin-top: 13px;
    }
    &--max-width {
        max-width: 932px;
    }
    
    @include clearfix();
    
    @for $i from 1 through $column-number {
        
        .col-#{$i} {
            @include column($i);
        }
        
    }
    
    @for $i from 1 through $column-number {
        
        .offset-#{$i} {
            @include column-offset($i);
        }
        
    }
    
    [class*='col-'] {
        
        @include css3-prefix(box-sizing, border-box);
        @include clearfix();
        float: left;
        min-height: 1px;
        padding: 0 $column-gap/2;
        
    }
    
    .row {
        margin-left: -$column-gap/2;
        margin-right: -$column-gap/2;
        position: relative;
    }
    
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.pull-center {
    float: none !important;
    margin: 0 auto;
}

.dash-widgets-holder {
    margin: 23px;
}

.dash-widget {
    max-width: 925px;
    padding: 23px;
    margin: 0 0 23px 0;
    background-color: #fff;
}

.dash-widget-special {
    max-width: 466px;
    padding: 23px;
    margin: 0 0 10px 0;
    &-inner {
        background-color: #fff;
    }
    .table th {
        font-size: 12px;
        padding: 5px;
        font-weight: normal;
    }
}

.no-padding {
    padding: 0;
}

.non-widget {
    max-width: 925px;
    padding: 0 0 23px 0;
    margin: 0;
}

.widget-table {
    box-shadow: 0 0 5px #444;
    min-height: 350px;
    background: #fff;
}

.widget-collapse {
    //margin-bottom: 25px;
    h5 {
        margin: 0;
        font-family: Lato;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #000;
        line-height: 22px;
    }
    button {
        background-color: transparent;
        border: none;
        opacity: 0.5;
        font-family: Lato;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #000;
        outline: none;
    }
}

.no-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.mt-12 {
    margin-top: 12px;
}

.text-black-06 {
    color: rgba(13, 13, 13, 0.6);
}
// Remove this grom here, should go to SidebarProfile.vue
.grid-sidebar-boxes {
    display: grid;
    grid-template-columns: repeat(3, 65px);
    gap: 2px;
}
  